/*
RELATION
*/

.MODRelation {
    position: absolute;
    width: 200px;
    height: 150px;
    top: 30%;
    left: 30%;
}
.MODRelationBack {
    position: absolute;
    width: 180px;
    height: 150px;
    top: 30px;
    left: 40px;
    background: url('../../public/img/link.png') no-repeat;
    opacity: 0.3;
    /*border: 1px solid blueviolet;*/

}
.MODRelationVerticalLine {
    position: absolute;
    left: 15px;
    top: 30px;
    background: black;
    width: 2px;
    height: 150px; 
}
.MODRelationTitle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 30px;
    background: #94fffb;
    border: 1px black dotted;
    border-radius: 20px;
    text-align: left;
    padding-left: 10px;
    font: 20px sans-serif;
    line-height: 30px;
    box-shadow: 5px 5px 10px #999999;
}

.MODRelationBottom {
    position: absolute;
    top: 150px;
    left: 20px;
    width: 200px;
    height: 30px;
    font: 16px sans-serif;
    color: grey;
    margin: 5px;
}

.MODRelationOpen {
    cursor: default;
    position: absolute;
    top: 8px;
    left: 160px;
    width: 16px;
    height: 15px;
    text-align: center;
    vertical-align: middle;
    z-index: 3;
    /*font: 18px sans-serif;*/
    /*border: 1px solid black;*/
    background: url('../../img/set1_black/openclose.png') no-repeat;
    background-size: 15px 30px;
    background-position: 0px 0px;

}
.MODRelationDelete {
    cursor: default;
    position: absolute;
    top: 8px;
    left: 178px;
    width: 15px;
    height: 15px;
    text-align: center;
    vertical-align: middle;
    z-index: 3;
    font: 18px sans-serif ;
    /*border: 1px solid black;*/
    background-image: url('../../img/set1_black/remove_black.png');
    background-size: 15px 15px;
}
