/* 
    Created on : 19-set-2014, 15.11.02
    Author     : alberto
*/

body {
    position: static;
}
#pagina {
    margin: 1%;
}
dt {
    word-wrap: normal;
}

#specchietto-container {

    overflow: visible;
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    display: inline-block;
    /*    margin-top: 10px;
        margin-bottom: 10px;*/
}
#commenti {

    overflow: visible;
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 10px;
    /*margin-bottom: 10px;*/
}
#first-container {

    overflow: visible;
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    display: inline-block;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
}

#second-container {
    overflow: visible;
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    display: inline-block;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
}
#third-container  {
    overflow: visible;
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    display: inline-block;
    text-align: center;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
}
#fourth-container  {
    overflow: visible;
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    display: inline-block;
    text-align: center;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
}
#fifth-container  {
    overflow: visible;
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    display: inline-block;
    text-align: center;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
}




.pulsantiera {

    display: block;
    float: left;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center; 
    height: auto;
    padding-left: 1%;
    padding-right: 1%;

}
#conferma {

    display: block;
    float: left;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: left; 
    height: auto;
    padding-left: 1%;
    padding-right: 1%;

}
#specchietto {

    display: inline-block;
    float: left;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: left; 
    height: auto;
    padding-left: 1%;
    padding-right: 1%;

}

#esecuzione {

    display: inline-block;
    float: left;
    width: 48%;
    margin-left: 1%;
    margin-right: 2%;
    text-align: left; 
    /*border: 1px solid fuchsia;*/ 
    height: auto;
    padding: 1%;

}
#esecuzioneEdit {

    display: inline-block;
    float: left;
    width: 48%;
    /*margin-left: 6%;*/
    margin-rigth: 1%;
    text-align: left; 
    /*border: 1px solid fuchsia;*/ 
    height: auto;
    padding: 1%;

}

#esecuzione table tr td {
    vertical-align: middle;
}

.riepilogo {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 98%;
    padding: 10px;
    height: auto; 
    display: inline-block;
    float: left;
    margin-bottom: 10px;
    margin-left: 1%;
    margin-right: 1%;
}
#tabellaSpecchietto {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 32%;
    padding: 10px;
    height: auto; 
    display: inline-block;
    float: left;
    margin-right: 2%;
}
#tabellaSpecchietto2 {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 32%;
    padding: 10px;
    height: auto; 
    display: inline-block;
    float: left;
    margin-right: 2%;
}
#tabellaSpecchietto3 {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 32%;
    padding: 10px;
    height: auto; 
    display: inline-block;
    float: left;
}
#tabellaEsecuzione {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    height: auto; 
}
#tabellaEsecuzioneEdit {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    height: auto; 
}
#attivita {
    display: inline-block;
    float: left;
    width: 48%;
    margin-left: 1%;
    margin-right: 2%;
    text-align: left; 
    /*border: 1px solid fuchsia;*/ 
    height: auto;
    padding: 1%;
}
#attivitaEdit {
    display: inline-block;
    float: left;
    width: 48%;
    /*margin-left: 6%;*/
    margin-rigth: 1%;
    text-align: left; 
    /*border: 1px solid fuchsia;*/ 
    height: auto;
    padding: 1%;
}

#attivita table tr td {
    vertical-align: middle;
}

#tabellaAttivita {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    height: auto;
    text-align: left; 
}
#tabellaAttivitaEdit {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    height: auto;
    text-align: left; 
}
#fatturazione {
    display: inline-block;
    float: left;
    width: 48%;
    margin-left: 1%;
    margin-right: 2%;
    text-align: left; 
    /*border: 1px solid fuchsia;*/ 
    height: auto;
    padding: 1%;
}
#fatturazioneEdit {
    display: inline-block;
    float: left;
    width: 48%;
    /*margin-left: 6%;*/
    margin-rigth: 1%;
    text-align: left; 
    /*border: 1px solid fuchsia;*/ 
    height: auto;
    padding: 1%;
}

#fatturazione table tr td {
    vertical-align: middle;
}

#tabellaFatturazione {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    height: auto; 
}
#tabellaFatturazioneEdit {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    height: auto; 
}
#incasso {
    display: inline-block;
    float: left;
    width: 48%;
    margin-left: 1%;
    margin-right: 2%;
    text-align: left; 
    /*border: 1px solid fuchsia;*/ 
    height: auto;
    padding: 1%;
}
#incassoEdit {
    display: inline-block;
    float: left;
    width: 48%;
    /*margin-left: 6%;*/
    margin-rigth: 1%;
    text-align: left; 
    /*border: 1px solid fuchsia;*/ 
    height: auto;
    padding: 1%;
}

#incasso table tr td {
    vertical-align: middle;
}

#tabellaIncasso {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    height: auto;
    text-align: left; 
}
#tabellaIncassoEdit {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    height: auto;
    text-align: left; 
}