<div ng-app="Vincenzo">
    <div ng-controller="MainController as MCTRL" style="width: 98%; border: 1px solid lightgrey;">
        <div style="display: inline-block; float: left; width: 45%; margin: 1%; border: 1px solid lightgray;">
            <div style=" display: inline-block; float: left; width: 50%">
                Risorsa: <input type="text" ng-model="MCTRL.resource" size="50"><br>
                Id Risorsa: <input type="text" ng-model="MCTRL.resourceid" size="30"><br>
            </div> 
            <div style=" display: inline-block; float: left; width: 50%">
                <p ng-repeat="pair in MCTRL.payload">
                    Chiave: <input type="text" ng-model="pair.chiave" size="20" ng-change="MCTRL.adjustPayload()">
                Valore: <input type="text" ng-model="pair.valore" size="20" ng-change="MCTRL.adjustPayload()">
                </p>
            </div> 
            <br><br><br>
            <button type="button" ng-click="MCTRL.sendRequest()">Richiesta</button>
            <table>
                <tr ng-repeat="item in MCTRL.so">
                    <td><pre>--__item|json__--</pre></td>
                </tr>
            </table>
        </div>
    </div>
</div>