<div id="topcontainer" style="width: 98%; height: 100%; position: relative; top:150px; left: 1%; top: 10px; padding-top: 5px; text-align: center; border: 1px solid black; ">
    <span style="font: 18px sans-serif; font-weight: bold">PROGETTI ASSEGNATI MA NON AVVIATI</span>
    <div id ="dettaliprogettocontainer" style="height: 300px; width: 800px; border: 1px dashed black; position: absolute; left: 50px; top: 32px; text-align: center; vertical-align: middle;">
        Dettagli progetto
    </div>
    <div id ="mappacontainer" style="height: 300px; width: 300px; border: 1px dashed black; position: absolute; left: 50px; top: 350px; text-align: center; vertical-align: middle;">
        MAPPA
    </div>
    <div id="selettoreconsulente" style="height: 300px; width: 300px; border: 1px dashed black; position: absolute; left: 900px; top: 32px; text-align: center; vertical-align: middle;">
        SELEZIONE CONSULENTE
    </div>
    <div id="calendarioconsulente" style="height: 300px; width: calc(50% + 300px); border: 1px dashed black; position: absolute; left: 400px; top: 350px; text-align: center; vertical-align: middle;">
        CALENDARIO CONSULENTE
    </div>
</div>